@model PAT.UI.Areas.Calculations.Models.CalculationResultViewModel
<!DOCTYPE html>

<html>
<head>
    
</head>
<body>
<div id="result" >
@Html.LabelFor(m => m.EmployeeName)
@Model.EmployeeName
@Html.LabelFor(m => m.YearlyPay)
@Model.YearlyPay
@Html.LabelFor(m => m.EmployeeGrossPayAfterBenefitsDeduction)
@Model.EmployeeGrossPayAfterBenefitsDeduction
</div>
   
      
   

</body>
</html>
