@model PAT.UI.Areas.Employees.Models.AddDependentViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Dependents</title>
</head>
<body>
@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "dependentAddForm"}))
{
    <div class="col-sm-8 text-left">
        <h1>Add Dependents</h1>
        <p>Enter employee dependents and click Save Dependents when finished.</p>
        <hr>
        
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
     
        <div>
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
       
        <div>
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
       
        <div>
            @Html.LabelFor(m => m.IsSpouse)
            @Html.CheckBoxFor(m => m.IsSpouse)
        </div>
      
        <button id="btnAddDependent" class="btn btn-primary" type="button">Add Dependent</button>
        <button id="btnSaveDependents" class="btn btn-primary" type="button">Save Dependents</button>
        <hr/>
        <span id ="dependentsList" style="display: none" >Dependents Added * Not Saved</span>
       
    </div>
}
    
<script>
    $(document).ready(function() {
        $("#btnAddDependent").click(function() {
            var dList = $('#dependentsList');
            var dListText = $('#dependentsList')["0"].innerHTML;
            var firstName = $('#FirstName').val();
            var lastName = $('#LastName').val();
            var isSpouse = $('#IsSpouse').is(":checked");
           
            if ($('#dependentAddForm').valid()) {
                dList.css("display", "initial");
                dListText = dListText +
                    '<br>' +
                    firstName +
                    ' ' +
                    lastName +
                    ' ' +
                    (isSpouse === true ? 'Spouse' : "Child");
                dList["0"].innerHTML = $('#dependentsList')["0"].innerHTML = dListText;

                $('#FirstName').val('');
                $('#LastName').val('');
                $('#IsSpouse').prop('checked', false);

                var d = 
                    {
                        EmployeeId: @Model.EmployeeId,
                        FirstName: firstName,
                        LastName: lastName,
                        IsSpouse: isSpouse
                    };

                $('<input>').attr({
                    type: 'hidden',
                    class: 'dependents',
                    value: JSON.stringify(d)
                }).appendTo('form');
            }
        });

        $("#btnSaveDependents").click(function () {
            var dependentsArr = [];
            $('.dependents').each(function() {
                dependentsArr.push(JSON.parse(this.value));
            });

            $.ajax({
                type: 'POST',
                contentType:'application/json',
                dataType: 'json',
                data: JSON.stringify({'dependents': dependentsArr}),
                url: '@Url.Action("PersistDependents", "Employee")',
                success: function() {
                    
                },
                error: function(){
                
                }
            });
        });
    });
</script>
</body>
</html>
